<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="NQNDB" connectionString="Data Source=rdp1.netqnet.com;Initial Catalog=mba;user=nqn;password=luigi4luigi;"/>
    </connectionStrings>
    <appSettings>
      <add key="VolunteerUrl" value="http://mbav.netqnet.com"/>
        <add key="DefaultState" value="CA"/>
        <add key="aspnet:MaxHttpCollectionKeys" value="5000"/>
        <add key="UsePrivs" value="false"/>
        <add key="VolAccessApp" value="MBAV"/>
        <add key="VolAccessTable" value="Guides"/>
        <add key="Title" value="Monterey Bay Aquarium Volunteer Substitutes"/>
        <!-- Audit values are "always", "never", "fail-only" -->
        <add key="Audit" value="never"/>
        <add key="Site" value=""/>
        <add key="ErrorEmail" value="esimon@netqnet.com"/>
        <add key="InternalMailDomain" value="mbayaq.org"/>
        <add key="InternalMailFrom" value="volunteer@mbayaq.org"/>
        <add key="InternalMailServer" value="192.168.1.14"/>
        <add key="InternalMailUser" value=""/>
        <add key="InternalMailPW" value=""/>
        <add key="InternalMailPort" value="25"/>
        <add key="ExternalMailFrom" value="volunteer@mbayaq.org"/>
        <!--<add key="ExternalMailServer" value="Mandrill" />-->
        <add key="ExternalMailServer" value="192.168.1.14"/>
        <add key="ExternalMailUser" value=""/>
        <add key="ExternalMailPW" value=""/>
        <add key="ExternalMailPort" value="25"/>
        <add key="ExternalMailKey" value=""/>
    </appSettings>
   
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
